.e-filing-card-wrapper {
  h2 {
    margin-top: 0;
  }

  .e-filing-header-content {
    .e-filing-header-subtext {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      text-align: left;
      color: var(--Grey-700, #3d3c3c);
    }
  }

  .e-filing-form-container {
    background-color: white;
    border: 1px solid var(--Grey-200, #BBBBBD);

    >h2 {
      font-weight: 700;
      font-size: 24px;
      border-bottom: 1px solid var(--Grey-200, #BBBBBD);
      padding: 12px 32px;
      margin: 0;
    }

    form .card {
      margin: 0;
      box-shadow: none;
      padding: 24px 32px;
    }
  }
}

.pt-citizen {
  padding: 0;
}

.employee-card-wrapper {
  display: flex;
  justify-content: space-between;
}

.file-case-select-form-section {
  width: 100%;
  max-width: 20%;
}

.file-case-form-section {
  width: 100%;
  max-width: 62%;
}

.e-filing-card-form-style {
  box-shadow: none;
  border: 1px solid #bbbbbd;
  padding: 24px 32px;
}

.e-filing-action-bar {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}