.e-filing-card-wrapper {
  .e-filing-header-content {
    .e-filing-header-subtext {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      text-align: left;
      color: var(--Grey-700, #3d3c3c);
    }
  }
}
.pt-citizen {
  padding: 0;
}
.employee-card-wrapper {
  display: flex;
  justify-content: space-between;
}
.file-case-select-form-section {
  width: 100%;
  max-width: 20%;
}

.file-case-form-section {
  width: 100%;
  max-width: 62%;
}

.e-filing-card-form-style {
  box-shadow: none;
  border: 1px solid #bbbbbd;
  padding: 24px 32px;
}
