.scan-qr-container {
  padding: 40px 20px;
  text-align: center;
}

.header-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.qr-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.qr-image-container {
  /* width: calc(min(45vw, 350px));
  height: calc(min(45vw, 350px)); */
  
          width: calc(min(71vw, 300px));
        height: calc(min(81vw, 312px));
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px auto;
  
}

.qr-image {
  width: 100px;
  display: inline !important;
}

.description-text {
  margin-top: 10px;
  font-weight: 500;
  color: #717171;
}

.scan-button {
  margin-top: 20px;
  width: 100%;
}

.info-text {
  margin-top: 20px;
  color: #8E8E8E;
}

@media (max-width: 600px) {
  .scan-qr-container {
    padding: 20px 10px;
  }

  .qr-box {
    margin-bottom: 15px;
  }

  /* .qr-image-container { */
    /* width: calc(min(65vw, 300px));
    height: calc(min(65vw, 300px)); */
    /* width: calc(min(71vw, 300px));
    height: calc(min(81vw, 312px)); */
  /* } */
  .qr-image-container {
    width: 100%;
    max-width: 160px;
    

    .qr-image {
      width: 100%;
      display: inline !important;
      /* border: 1px solid #e0e0e0; */
      /* border-radius: 8px; */
    }
  }

  .description-text {
    margin-top: 15px;
  }

  .scan-button {
    margin-top: 15px;
  }

  .info-text {
    margin-top: 15px;
  }
}
