.epost-print-and-send,
.print-and-send-document {
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.print-documents-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
}

.print-documents-box {
  border: 1px solid #bbbbbd;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 16px;
  align-items: center;
}

.print-documents-box-text {
  font-size: 16px;
  color: #505a5f;
  font-weight: 700;
  line-height: 18.75px;
  display: flex;
  align-items: center;
}

.print-button {
  font-weight: 400;
  font-size: 16px;
  color: #007e7e;
  background-color: white;
  line-height: 18.75px;
  display: flex;
  align-items: center;
}

.document-details-container {
  width: 568px;
  height: 182px;
  margin-top: 20px;
  background-color: #f7f5f3;
  padding: 16px 24px;
}

.document-details-row {
  display: flex;
  width: 520px;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #3d3c3c;
}

.document-details-rows {
  display: flex;
  width: 520px;
  margin-bottom: 15px;
  color: #3d3c3c;
}

.document-details-row-heading {
  width: 12rem;
  font-weight: 700;
  font-size: 16px;
  color: #0a0a0a;
}

.close-button-style {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 20px;
  cursor: pointer;
}

.document-info-container {
  width: 45rem;
  height: 194px;
  margin-top: 20px;
  background-color: #f7f5f3;
  padding: 16px 24px;
}

.document-info-row {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  color: #3d3c3c;
}

.document-info-heading {
  font-weight: 700;
  font-size: 16px;
  color: #0a0a0a;
  width: 12rem;
}

.document-preview {
  width: 100%;
  height: 400px;
  border: 1px solid #bbbbbd;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-order-right {
  text-decoration: underline;
  margin-left: auto;
  cursor: pointer;
}

.review-summon-warrant {
  padding: 48px 64px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;

  .header-wraper {
    header {
      margin: 0px;
      font-family: Roboto;
      font-size: 32px;
      font-weight: 700;
      line-height: 37.5px;
      color: #231f20 !important;
    }
  }
}
