<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %highlight(%msg%n){%red}</pattern>
        </encoder>
    </appender>

    <!-- Set root logger to log messages at INFO level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
