.case-card {
  display: flex;
  align-items: center;
  cursor: pointer;

  .case-details {
    margin: 20px;
    width: 33%;
    div {
      margin-top: 5px;
    }
  }
}

.date-card {
  padding: 10px 20px;
  margin: 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.footClass {
  margin: 10px;
  display: flex;
  align-items: center;
}