.evidence-header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .evidence-hearing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;

    .title-section {
      display: flex !important;
      flex-direction: row;
      gap: 12px;
      align-items: center !important;

      .evidence-header {
        margin-bottom: 0px;
      }

      .case-details {
        display: flex;
        gap: 12px;

        .text {
          color: #77787b;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.41px;
          text-align: center;
          font-family: Roboto;
        }

        .breakline {
          width: 1px;
          border-left: 1px solid #0000001a;
        }
      }
    }

    .evidence-actions {
      display: flex;
      align-items: center;
      gap: 15px;
      position: relative;
    }

    .menu-wrap {
      box-shadow: rgba(0, 0, 0, 0.14) 0 8px 10px 1px, rgba(0, 0, 0, 0.12) 0 3px 14px 2px, rgba(0, 0, 0, 0.2) 0 5px 5px -3px;
      @apply h-auto bg-white text-left mb-xs z-30;
      position: absolute;
      top: calc(100% + 8px);
      right: 0;
      width: 200px;

      div {
        @apply h-12 pl-sm py-md text-body-l text-text-primary;

        &:hover {
          @apply bg-grey-mid w-full;
        }

        p {
          margin: 0px;
        }
      }
    }
  }

  .join-video-conference {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    height: 48px;
    padding: 12px 16px 12px 16px;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid #0000001a;
    background: #fff8fd;

    .conference-info {
      display: flex !important;
      align-items: center;
      gap: 12px !important;

      span {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        text-align: left;
        color: #0a0a0a;
      }
    }
  }

  .tabs-component {
    display: flex;
    border-bottom: 2px solid #ccc;

    .tab {
      padding: 10px 20px;
      cursor: pointer;
      gap: 8px;

      span {
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 18.75px;
        text-align: left;
        color: #6f767e;

        &.active {
          color: #0a5757;
          font-weight: 700;
          text-align: left;
        }
      }

      .breakline {
        border-bottom: 3px solid #0a5757;
      }
    }
  }
}

.take-action-btn-class {
  padding: 8px 24px;
  .icon-label-container,
  .icon-label-container.primary.large {
    display: flex;
    gap: 8px;
    align-items: center;
    .digit-button-label {
      margin: 0px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      line-height: 18.75px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.admitted-case {
  .admitted-case-header {
    padding: 24px 40px 0px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    border: 1px #e6e6e6 solid;
    border-left: none;
  }
  .search-tabs-container {
    background-color: #ffffff;
    display: flex;
    gap: 40px;
    justify-content: start;

    .case-search-tab-head-selected,
    .case-search-tab-head {
      border: none;
      background-color: transparent;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      line-height: 18.75px;
      text-align: left;
      color: #6f767e;
      padding: 0px 0px 10px;
    }

    .case-search-tab-head-selected {
      border-bottom: 3px #0a5757 solid;
      color: #0a5757;
      padding: 0px 0px 7px;
    }
  }
  .case-overview-wrapper {
    padding: 24px 24px 24px 40px;
  }
  .view-case-file-wrapper {
    .case-and-admission {
      padding: 24px 40px;
    }
  }
  .notice-failed-notification {
    display: flex;
    gap: 8px;
    .notice-failed-icon {
      height: 20px;
      width: 20px;
      svg {
        height: 20px;
        width: 20px;
      }
    }
    .notice-failed-text {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      text-align: left;
      color: #0a0a0a;
      .click-here {
        text-decoration: underline;
        color: #007e7e;
      }
    }
  }
}
.admitted-case-details {
  .case-details-title {
    .vertical-line {
      height: 24px;
      width: 1px;
      background-color: #0000001a;
      border: none;
    }
    .sub-details-text {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;
      text-align: center;
      color: #77787b;
    }
    header {
      margin: 0px;
      font-family: Roboto;
      font-size: 32px;
      font-weight: 700;
      line-height: 37.5px;
      text-align: left;
      color: #231f20;
    }
  }
  .judge-action-block {
    display: flex !important;
    gap: 16px;
    align-items: end;
    .evidence-header-wrapper {
      .evidence-hearing-header {
        padding: 0px !important;
        .evidence-actions {
          .custom-icon-wrapper {
            height: 40px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
