.tasks-component {
  padding: 24px 48px;
  border-left: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  gap: 16px;
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;
    margin: 0px;
  }

  .task-section {
    margin-bottom: 20px;
    .task-header {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .task-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      &.due-today {
        border-left: 4px solid #d32f2f;
      }
      &.completed {
        background-color: #f0f0f0;
        .task-title {
          text-decoration: line-through;
        }
      }
      input {
        margin-right: 10px;
      }
      .task-details {
        .task-title {
          font-size: 16px;
          font-weight: bold;
        }
        .task-info {
          font-size: 14px;
          color: #888;
        }
      }
    }
    .new-tasks {
      background-color: #ff5722;
      color: #fff;
      padding: 5px 10px;
      font-size: 14px;
      &:hover {
        background-color: #e64a19;
      }
    }
  }
}
.task-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  .filter-select {
    width: 50%;
  }
  .label-field-pair {
    width: 50%;
    .digit-card-label.card-label {
      font-size: 16px;
    }
    .digit-dropdown-employee-select-wrap {
      margin-bottom: 0px;

      .main-option {
        height: unset !important;
      }
    }
  }
}
