.radio-wrap {
  @apply my-sm block leading-10 mb-lg;

  div {
    @apply flex items-center;
  }

  .radio-btn-wrap {
    @apply block float-left relative;
    &:hover {
      .radio-btn-checkmark {
        @apply border-primary-main;
      }
    }
  }

  .radio-btn {
    @apply opacity-0 absolute cursor-pointer h-10 w-10;
    height: 24px;
    width: 24px;
  }

  .radio-btn-checkmark {
    @apply h-10 w-10 border border-input-border border-solid rounded-full block;
    height: 24px;
    width: 24px;
  }

  label {
    @apply text-text-primary text-form-field ml-md;
  }

  .radio-btn-checkmark:after {
    content: "";
  }

  .radio-btn-wrap input:checked ~ .radio-btn-checkmark {
    @apply border-2 border-primary-main;
  }

  .radio-btn-wrap input:checked ~ .radio-btn-checkmark:after {
    @apply block bg-primary-main h-5 w-5 rounded-full absolute top-6 left-6;
    height: 12px;
    width: 12px;
  }
}
.reverse-radio-selection-wrapper {
  div {
    @apply flex flex-row-reverse place-content-between items-center;
  }
}
