.toast-success {
  max-width: 480px;
  width: calc(100% - 20px);
  right: 16px;
  bottom: 64px;
  left: auto;
  margin: 0 10px;
  gap: 16px;
  border-radius: 4px;
  min-height: 48px;
  @apply fixed flex bg-success leading-7 z-20 items-center pl-md pr-sm;

  svg {
    height: 20px;
    width: 20px;
  }

  svg:last-of-type {
    cursor: pointer;
  }

  .toast-close-btn {
    margin-left: auto;
  }

  h2 {
    @apply text-body-s-dt text-white;
  }
}

@screen dt {
  .toast-success {
    right: 16px;
    bottom: 64px;
    left: auto;
  }
}
