openapi: "3.0.0"

info:
  title: API specs for Application
  description:
    Application API paths and entity is defined in this file.
  version: "0.1.0"

servers:
  - url: ""

tags:
  - name: Application
    description: APIs for managing Application related to a Case

paths:
  /application/v1/create:
    post:
      tags:
        - Application
      summary: create new application
      requestBody:
        description: Details for the new application + RequestInfo meta data.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
        required: true
      responses:
        "201":
          description: success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        "400":
          description: application(s) creation failed
          content:
            '*/*':
              schema:
                $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: applicationRequest

  /application/v1/update:
    post:
      tags:
        - Application
      summary: update application requests.
      requestBody:
        description: Details for the update application(s) + RequestInfo meta data.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
        required: true
      responses:
        "200":
          description: ResponseInfo with application(s) updated successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        "400":
          description: application(s) update failed
          content:
            '*/*':
              schema:
                $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: applicationRequest

  /application/v1/search:
    post:
      tags:
        - Application
      summary: search for application(s)
      description: |
        Gets the list of Application(s)
      requestBody:
          description: Details for the search application(s) + RequestInfo meta data.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationSearchRequest'
          required: true
      responses:
        "200":
          description: ResponseInfo with application(s) search successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationListResponse'
        "400":
          description: application(s) get failed
          content:
            '*/*':
              schema:
                $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/ErrorResponse'

  /application/v1/exists:
    post:
      tags:
        - Application
      summary: application exits or not
      requestBody:
        description: check if the application(S) exists
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApplicationExistsRequest'
        required: true
      responses:
        "201":
          description: ResponseInfo with application(s) updated successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationExistsResponse'
        "400":
          description: failed to validate Application
          content:
            '*/*':
              schema:
                $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/ErrorResponse'

  /application/v1/addcomment:
    post:
      tags:
        - Application
      summary: add comments to application
      requestBody:
        description: Details for the new application comment + RequestInfo meta data.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApplicationAddCommentRequest'
        required: true
      responses:
        "201":
          description: success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationAddCommentResponse'
        "400":
          description: application(s) creation failed
          content:
            '*/*':
              schema:
                $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/ErrorResponse'

components:
  schemas:
    ApplicationSearchRequest:
      type: object
      properties:
        RequestInfo:
          $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/RequestInfo'
        criteria:
          $ref: '#/components/schemas/ApplicationCriteria'
        pagination:
          $ref: >-
            https://raw.githubusercontent.com/egovernments/DIGIT-OSS/master/core-services/docs/common-contract_v1-1.yml#/components/schemas/Pagination

    ApplicationRequest:
      type: object
      properties:
        RequestInfo:
          $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/RequestInfo'
        application:
          $ref: '#/components/schemas/Application'

    ApplicationResponse:
      type: object
      properties:
        responseInfo:
          $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/ResponseInfo'
        application:
          $ref: '#/components/schemas/Application'

    ApplicationListResponse:
      type: object
      properties:
        responseInfo:
          $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/ResponseInfo'
        TotalCount:
          type: integer
        applicationList:
          type: array
          items:
            $ref: '#/components/schemas/Application'
      description: This object holds information about the application List response

    ApplicationExistsRequest:
      type: object
      properties:
        RequestInfo:
          $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/RequestInfo'
        applicationList:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationExists'
    ApplicationExistsResponse:
      type: object
      properties:
        responseInfo:
          $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/ResponseInfo'
        applicationList:
          type: array
          items:
          $ref: '#/components/schemas/ApplicationExists'
    ApplicationCriteria:
      type: object
      description: can send in any one of the values. If multiple parameters are passed, then it will be a logical AND search
      properties:
        filingNumber:
          type: string
        owner:
          type: UUID
          description: UUID of user
        cnrNumber:
          type: string
        applicationNumber:
          type: string
        applicationType:
          type: string
        status:
          type: string          
        id:
          type: string
        tenantId:
          type: string
    ApplicationExists:
      type: object
      description: can send in any one of the values and Exists value will be populated with true or false. If multiple parameters are passed, then it will be a logical AND search
      properties:
        filingNumber:
          type: string
        cnrNumber:
          type: string
        applicationNumber:
          type: string
        exists:
          type: boolean

    IssuedBy:
      type: object
      properties:
        benchID:
          type: string
        judgeID:
          type: array
          items:
            type: string
            format: uuid
            minLength: 36
            maxLength: 36
        courtID:
          type: string
    Application:
      required: [tenantId, caseId, createdDate, applicationType, status, isActive]
      type: object
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          description: auto generated primary for internal reference
          readOnly: true
        tenantId:
          type: string
          description: This is tenantId of the case
        caseId:
          type: string
          description: This is the caseId of the associated case
        filingNumber:
          type: string
          description: the associated case
        cnrNumber:
          type: string
          description: The CNR number of the associated case. helps in faster search
        referenceId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          description: could be the orderID due to which this application is filed, for example, application to revoke the penalty
        createdDate:
          type: integer
          format: int64
          description: the date on which the application was created
        createdBy:
          type: string
          format: uuid
          description: ID of the person (lawyer) who created the application
        onBehalfOf:
          type: array
          items:
            type: string
            format: uuid
            description: ID of the users for whom the application has been raised
        applicationType:
          type: string
          description: Master Data ID from ApplicationType master
        applicationNumber:
          type: string
          minLength: 24
          maxLength: 48
          description: number assigned to the application. applications are numbered serially for the court and affixed with the year.
          example: Application 1 of the year 2024
        issuedBy:
          $ref: '#/components/schemas/IssuedBy'
        reasonForApplication:
          type: string
          description : Reason For Application eg.- Reason for Rescheduling, Reason for Extension
        applicationDetails:
          type: object
          description: application schema
        status:
          type: string
          description: workflow status
        comment:
          type: array
          description: An array of comments representing the discussion between the parties of the case on this specific application.
          items:
            $ref: '#/components/schemas/Comment'
        isActive:
          type: boolean
          description: to handle soft delete
        statuteSection:
          $ref: './case-api-0.1.0.yaml#/components/schemas/StatuteSection'
        documents:
          type: array
          items:
            $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/Document'
        additionalDetails:
          type: object
          description: >-
            Any extra fields that are not captured as first class fields can be
            stored here as key/value pairs. Implementation specific.
        auditDetails:
          $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/AuditDetails'
        workflow:
          $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/Workflow'
    Comment:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: This id is autogenerated id of the artifact. It is the primary key
          readOnly: true
          minLength: 36
          maxLength: 36
        tenantId:
          type: string
          description: This is tenantId of the case based on the state.
        individualId:
          type: string
          description: The individual who is commenting on the artifact. In case lawyers do this on behalf of litigants, the individualId will be that of the litigant. The representative who's performing actions on behalf of will be captured in the audit details.
        comment:
          type: string
          description: Comments/responses from the user
          minLength: 2
          maxLength: 2048
        isActive:
          type: boolean
          description: Field to indicate soft delete of records
          default: true
        additionalDetails:
          type: string
          description: >-
            This field is meant to hold any extra information that we want to
            store for this entity.
        auditdetails:
          $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/AuditDetails'
      required: [tenantId, artifactId, individualId, comment]
      
    ApplicationAddCommentRequest:
      type: object
      properties:
        RequestInfo:
          $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/RequestInfo'
        applicationAddComment:
          $ref: '#/components/schemas/ApplicationAddComment'
            
    ApplicationAddCommentResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: 'https://raw.githubusercontent.com/egovernments/DIGIT-Specs/common-contract-update/Common%20Services/common-contract.yaml#/components/schemas/ResponseInfo'
        applicationAddComment:
          $ref: '#/components/schemas/ApplicationAddComment'
          
    ApplicationAddComment:
      type: object
      properties:
        applicationNumber:
          type: string
          description: The application number for which the comment is being added
        comment:
          type: array
          description: An array of comments representing the discussion between the parties of the case on this specific application.
          items:
            $ref: '#/components/schemas/Comment'