.popup-module.otp-modal-class,
.popup-module.upload-signature-modal,
.popup-module.e-sign-aadhar-modal,
.popup-module.confirm-delete-modal,
.popup-module.verify-mobile-modal,
.popup-module.verification-complainant-modal,
.popup-module.edit-case-name-modal,
.popup-module.join-a-case-modal,
.popup-module.evidence-modal,
.popup-module.review-submission-appl-modal,
.popup-module.review-order-modal,
.popup-module.add-signature-modal,
.popup-module.orders-success-modal,
.popup-module.case-types {
  width: 536px;
  max-height: fit-content;
  border-radius: 4px;
  .header-wrap {
    width: 100%;
    height: 52px;
    padding: 12px 24px 12px 24px;
    border-bottom: 1px #e8e8e8 solid;
    .header-content.popup-header-fix {
      .heading-m {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.13px;
        text-align: center;
        margin: 0px;
      }
    }
    .header-end {
      div {
        padding-right: 0px !important;
      }
    }
  }
  .popup-module-main {
    padding: 0px !important;
    max-height: fit-content;
    overflow-y: auto !important;
    .case-types-main-div {
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      max-height: 420px;
      padding: 16px 24px 16px 24px;
    }
    .info-banner-wrap.doc-banner {
      background-color: #ecf3fd;
      max-width: 100%;
      padding: 8px;
      border-radius: 4px;
      margin: 0px 24px !important;
      div {
        display: flex;
        align-items: center;
        svg {
          margin: 0px 12px 0px 0px;
        }
        h2 {
          font-family: Roboto;
          font-size: 16px;
          font-weight: 700;
          line-height: 18.75px;
          text-align: left;
          margin: 0px;
          margin-top: 3px;
          color: #0a0a0a;
        }
      }
      p {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #0a0a0a;
        margin: 0px;
      }
    }
    .submit-bar-div {
      display: flex !important;
      flex-direction: row;
      justify-content: space-between;
      margin: 16px;
      .right-div {
        display: flex;
        gap: 16px;
      }
      .jk-digit-primary-btn.cancel-button {
        background-color: white;
        border: 1px #007e7e solid;
        box-shadow: none !important;
        min-width: 84px;
        h2 {
          color: #007e7e;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 700;
          line-height: 18.75px;
          text-align: center;
        }
      }
      .start-filling-button {
        box-shadow: none !important;
        min-width: 124px;
        h2 {
          font-family: Roboto;
          font-size: 15.78px;
          font-weight: 500;
          line-height: 19.94px;
          text-align: center;
        }
      }
      .jk-digit-primary-btn.download-button {
        background-color: white;
        border: none;
        box-shadow: none !important;
        justify-content: center;
        svg {
          path {
            fill: #007e7e;
          }
        }
        h2 {
          color: #007e7e;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 700;
          line-height: 18.75px;
          text-align: center;
          width: fit-content !important;
        }
        svg {
          margin: 0px 12px 0px 0px;
          height: 16px;
          width: 16px;
        }
      }
    }
    .popup-module-action-bar {
      margin: 16px;
    }
    .selector-button-border {
      background-color: white;
      border: 1px #007e7e solid !important;
      box-shadow: none;
      h2 {
        color: #007e7e !important;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.75px;
        text-align: center;
      }
    }
    .selector-button-primary {
      box-shadow: none;
    }
  }
}

@media (max-width: 450px) {
  .popup-module.otp-modal-class,
  .popup-module.upload-signature-modal,
  .popup-module.e-sign-aadhar-modal,
  .popup-module.confirm-delete-modal,
  .popup-module.verify-mobile-modal,
  .popup-module.verification-complainant-modal,
  .popup-module.edit-case-name-modal,
  .popup-module.case-types {
    margin: auto 16px;
    max-height: 564px;
    .header-wrap {
      .header-content.popup-header-fix {
        .heading-m {
          font-size: 18px;
        }
      }
    }
    .popup-module-main {
      .case-types-main-div {
        max-height: 300px;
      }

      .submit-bar-div {
        display: flex;
        flex-direction: column-reverse;
        gap: 8px;
        .right-div {
          display: flex;
          flex-direction: column-reverse !important;
          gap: 8px !important;
        }
      }
      .popup-module-action-bar {
        flex-direction: column-reverse;
      }
    }
  }
}

.popup-module.confirm-delete-modal {
  .delete-warning-text {
    padding: 16px 24px;
    h3 {
      margin: 0px !important;
    }
  }
}

.popup-module.view-image-modal {
  width: 100%;
  min-height: 100vh;
  background: transparent;
  .header-wrap {
    border: none;
    padding: 24px 24px 0px;
    .header-content.popup-header-fix {
      .heading-main {
        display: flex;
        gap: 40px;
        .heading-title {
          h1.heading-m {
            font-family: Roboto;
            font-size: 32px;
            font-weight: 700;
            line-height: 37.5px;
            text-align: left;
            color: #ffffff;
            margin: 0px;
            padding: 0px;
            margin-bottom: 12px;
          }
          p {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.41px;
            text-align: left;
            color: #999895;
          }
        }
      }
      .heading-back-error {
        margin-top: 8px;
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .header-end {
      display: flex;
      gap: 40px;
      padding-top: 8px;
      .flag-icon,
      .close-icon {
        width: 24px;
        height: 24px;
      }
      .flag-icon {
        svg {
          path {
            fill: #ffffff;
          }
        }
      }
      .close-icon {
        svg {
          fill: #ffffff;
        }
      }
    }
  }
  .popup-module-main {
    .employeeCard {
      height: calc(100vh - 154px);
    }
  }
}

.popup-module.popup-module.verification-complainant-modal {
  .popup-module-main {
    form {
      padding: 16px 24px 0px !important;
      .field {
        .label-field-pair {
          margin-bottom: 16px !important;
          .select-wrap {
            margin-bottom: 0px !important;
          }
        }
      }
    }
  }
}

.popup-module.edit-case-name-modal {
  .popup-module-main {
    padding: 16px 24px 16px !important;

    h3 {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      text-align: left;
      color: #0b0c0c;
      margin: 0px 0px 12px;
    }
  }
}

.popup-module.review-submission-appl-modal,
.popup-module.evidence-modal {
  max-width: 80% !important;
  width: 80% !important;
  height: 80% !important;
  max-height: 80% !important;
  .header-wrap {
    display: flex;
    align-items: center;
    .header-content.popup-header-fix {
      margin-top: 0px !important;
      .evidence-title {
        display: flex;
        gap: 12px;
        align-items: center;

        h1 {
          padding-top: 0px !important;
        }
        h3 {
          margin: 0px;
          background-color: #e4f2e4;
          border-radius: 999px;
          padding: 6px;
          color: #00703c;
        }
      }
    }
  }
  .popup-module-main {
    max-height: calc(100% - 52px);
    height: calc(100% - 52px);
    .popup-module-action-bar {
      border-top: 1px #e8e8e8 solid;
      margin: 0px;
      padding: 16px;
      .selector-button-primary {
        background-color: #ffffff;
        border: 1px #007e7e solid !important;
        h2 {
          color: #007e7e;
        }
      }
    }
  }
}

.review-submission-appl-body-main,
.evidence-modal-main {
  display: flex;
  height: calc(100% - 65px);
  .application-details {
    padding: 24px 12px 0px 24px;
    width: 66.66%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .application-view {
      .docviewer-wrapper {
        margin-top: 0px !important;
        .employeeCard {
          padding: 0px !important;
          margin-bottom: 0px !important;
          box-shadow: none;
          border: 1px #bbbbbd solid;
          border-radius: 4px;
          #pdf-page-info {
            display: none;
          }
        }
      }
    }
  }

  .evidence-details {
    padding: 24px 12px 0px 24px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .application-view {
      .docviewer-wrapper {
        margin-top: 0px !important;
        .employeeCard {
          padding: 0px !important;
          margin-bottom: 0px !important;
          box-shadow: none;
          border: 1px #bbbbbd solid;
          border-radius: 4px;
          #pdf-page-info {
            display: none;
          }
        }
      }
    }
  }

  .application-info {
    padding: 16px 24px;
    background: #f7f5f3;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .info-row {
    display: flex;
    gap: 16px;
    h3 {
      margin: 0px;
      font-family: Roboto;
      font-size: 16px;
      line-height: 18.75px;
      text-align: left;
    }
    .info-key {
      width: 180px;
      font-weight: 700;
      color: #0a0a0a;
    }
    .info-value {
      width: calc(100% - 180px);
      font-weight: 400 !important;
      color: #3d3c3c !important;
    }
  }
  .application-comment {
    width: 33.33%;
    border-left: 1px #e8e8e8 solid;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .comment-section {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 112px);
    .comment-xyzoo {
      font-family: Roboto;
      font-size: 24px;
      font-weight: 700;
      line-height: 28.13px;
      text-align: left;
      color: #231f20;
      margin: 12px 24px 0px;
    }
  }
  .comment-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 11px 24px 24px;
    margin-right: 5px;
    overflow-y: auto;
  }
  .comment-main::-webkit-scrollbar {
    width: 8px;
  }
  .comment-main::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border-radius: 8px;
  }
  .comment-body {
    display: flex;
    gap: 12px;
  }
  .comment-avatar {
    background-color: #5b2448;
    height: 32px;
    width: 32px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      line-height: 23.44px;
      text-align: center;
      color: #ffffff;
    }
  }
  .comment-details {
    .comment-header {
      margin: 0px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      line-height: 18.75px;
      text-align: left;
      color: #0a0a0a;
      margin-bottom: 8px;
      span {
        font-weight: 400;
        font-size: 14px;
      }
    }
    .comment-text {
      margin: 0px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;
      text-align: left;
      color: #3d3c3c;
    }
  }
  .comment-send {
    padding: 16px 24px;
    border-top: 1px #e8e8e8 solid;
    .comment-input-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border: 1px #77787b solid;
      padding: 12px 16px;
      .text-input {
        input {
          border: none;
          margin-bottom: 0px !important;
          padding: 0px;
          height: fit-content;
        }
      }
    }
    .send-comment-btn {
      display: flex;
      justify-content: flex-end;
      svg {
        cursor: pointer;
        path {
          fill: #bbbbbd !important;
        }
      }
    }
  }
  .application-details::-webkit-scrollbar {
    width: 8px;
  }
  .application-details::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border-radius: 8px;
  }
}

.react-pdf__Page__textContent {
  display: none !important;
}
