.app-container {
  @extend .light-background;
  width: 100%;
  form {
    .card {
      max-width: 960px;
      h2.secondary-label-selector {
        text-align: left;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.75px;
        text-align: center;
        color: #007e7e !important;
      }
      h2.tertiary-label-selector {
        text-align: left;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.75px;
        text-align: center;
        color: #007e7e !important;
      }
      .field-container {
        max-width: 540px;
      }
      button.secondary-button-selector {
        width: 200px;
        height: 40px;
        padding: 8px 24px 8px 24px;
        gap: 4px;
        border: 1px solid #007e7e;
        background-color: transparent !important;
        box-shadow: none;
      }
      button.tertiary-button-selector {
        width: 200px;
        height: 40px;
        padding: 8px 24px 8px 24px;
        gap: 4px;
        background-color: transparent !important;
        color: #007e7e;
        border: none;
        box-shadow: none;
      }
      .card-text-button {
        @extend .light-primary-button;
        text-align: left;
      }
    }
  }
}

.break-line {
  margin: 0 !important;
}
.label-field-pair {
}
.button-field {
  display: flex;
}

.info-banner-wrap {
  margin: 0 !important;
}

.tertiary-button-selector {
  background-color: transparent !important;
}

@media screen and (max-width: 768px) {
}
