name: Code Scanning

on:
  push:
    branches:
      - develop
      - main
      
  pull_request:
    branches:
      - develop
      - main
permissions:
  security-events: write
  contents: read

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: TruffleHog
        uses: trufflesecurity/trufflehog@v3.76.1
      - name: Set up Trivy

        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL'
          github-pat: ${{ secrets.GHUB_TOKEN }}
      - name: Upload SARIF results to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-results.sarif

