name: dristi workflow
on:
  push:
    branches:
      - Dev-1
  workflow_dispatch:
jobs:
  docker_image-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Docker
        uses: docker/setup-buildx-action@v1
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build Package
        run: mvn -B clean install -f backend/advocate
      - name: SonarCloud Scan
        run: mvn -f backend/advocate/pom.xml sonar:sonar -Dsonar.projectKey=pucardotorg_dristi -Dsonar.organization=pucardotorg -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{ secrets.SONARCLOUD_TOKEN }} -Dsonar.projectBaseDir=backend/advocate -Dsonar.java.binaries=backend/advocate/target/classes
        env:
          GITHUB_TOKEN: ${{ secrets.GHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
       
        
      # Login to Azure Container Registry
      # - name: Login to Azure Container Registry
      #   run: docker login -u pucardev -p ${{ secrets.ACR_PASSWORD }} pucardev.azurecr.io

      # - name: Build and Push Docker image for advocate
      #   run: |
      #     docker build --build-arg WORK_DIR="backend/advocate" -t pucar_advocate:v1.0.0-${{ github.sha }} -f build/maven/Dockerfile .
      #     docker tag pucar_advocate:v1.0.0-${{ github.sha }} pucardev.azurecr.io/pucar_advocate:v1.0.0-${{ github.sha }}
      #     docker push pucardev.azurecr.io/pucar_advocate:v1.0.0-${{ github.sha }}
      # - name: Build and Push Docker image for advocate_DB
      #   run: |
      #     docker build  -t pucar_advocate_db:v1.0.0-${{ github.sha }} -f  Dockerfile .
      #      docker tag pucar_advocate_db:v1.0.0-${{ github.sha }} pucardev.azurecr.io/pucar_advocate_db:v1.0.0-${{ github.sha }}
      #      docker push pucardev.azurecr.io/pucar_advocate_db:v1.0.0-${{ github.sha }}
      #   working-directory: backend/advocate/src/main/resources/db
      # - name: trigger deployment pipeline
      #   run: |
      #     curl -X POST \
      #     -H "Accept: application/vnd.github.v3+json" \
      #     -H "Authorization: token ${{ secrets.GHUB_TOKEN }}" \
      #     https://api.github.com/repos/pucardotorg/pucar-Devops/actions/workflows/dev.yaml/dispatches \
      #     -d '{"ref":"Dev-0"}'
