name: dristi workflow
on:
  push:
    branches:
      - Dev-0
  workflow_dispatch:    
jobs:
  docker_image-build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      with:
        projectBaseDir: frontend/micro-ui/web
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
    # - name: Setup Docker
    #   uses: docker/setup-buildx-action@v1
    # # Login to Azure Container Registry
    # - name: Login to Azure Container Registry
    #   run: docker login -u pucardev -p ${{ secrets.ACR_PASSWORD }} pucardev.azurecr.io

    # - name: Build and Push Docker image for digit-ui
    #   run: |
    #      docker build  -t digit-ui:v1.0.0-${{ github.sha }} -f  web/docker/Dockerfile .
    #      docker tag digit-ui:v1.0.0-${{ github.sha }} pucardev.azurecr.io/digit-ui:v1.0.0-${{ github.sha }}
    #      docker push pucardev.azurecr.io/digit-ui:v1.0.0-${{ github.sha }}
    #   working-directory: frontend/micro-ui
    # - name: trigger deployment pipeline
    #   run: |
    #     curl -X POST \
    #     -H "Accept: application/vnd.github.v3+json" \
    #     -H "Authorization: token ${{ secrets.GHUB_TOKEN }}" \
    #     https://api.github.com/repos/pucardotorg/pucar-Devops/actions/workflows/dev.yaml/dispatches \
    #     -d '{"ref":"Dev-0"}'
