name: Dristi-Pdf workflow
on:
  push:
    branches:
      - develop
    paths:
      - 'utilities/dristi-pdf/**'
  pull_request:
    branches:
      - develop
    paths:
      - 'utilities/dristi-pdf/**'
  workflow_dispatch:
jobs:
  docker_image-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Setup Docker
        uses: docker/setup-buildx-action@v1
      - name: Login to Azure Container Registry
        if: github.ref == 'refs/heads/develop' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        run: docker login -u pucarsolutionsdev -p ${{ secrets.ACR_PASSWORD }} pucarsolutionsdev.azurecr.io

      - name: Build and Push Docker image for dristi-pdf
        if: github.ref == 'refs/heads/develop' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        run: |
          docker build --build-arg WORK_DIR="utilities/dristi-pdf" -t pucarsolutionsdev.azurecr.io/dristi-pdf:v1.0.0-${{ github.sha }} -f utilities/dristi-pdf/Dockerfile .
          docker push pucarsolutionsdev.azurecr.io/dristi-pdf:v1.0.0-${{ github.sha }}
      - name: trigger deployment pipeline
        if: github.ref == 'refs/heads/develop' && github.event_name == 'push'
        run: |
          curl -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.GHUB_TOKEN }}" \
          https://api.github.com/repos/pucardotorg/pucar-Devops/actions/workflows/solutions-dev.yaml/dispatches \
          -d '{"ref":"Solutions-Pipeline"}'
