.scan-qr-container {
    padding: 20px;
  
    .header-container {
      text-align: center;
      margin-bottom: 20px;
  
      .header-title {
        font-weight: bolder;
      }
  
      .drishti-content {
        margin-top: 10px;
        width: 60%;
        max-width: 300px;
      }
    }
  

  
  
    .document-details-title {
      font: normal normal bold 20px/24px Inter, sans-serif;
      text-align: center;
      margin: 7px auto;
    }
  
    .verification-icon-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  
      svg {
        width: 50px;
        height: 50px;
      }
    }
  
    @media (min-width: 1200px) {
      padding: 40px;
  
      .header-container {
        margin-bottom: 30px;
  
        .header-title {
          font-size: 2rem;
        }
      }
  
      .qr-box {
        margin: 30px 0;
      }
  
      .qr-image-container {
        max-width: 350px;
  
        .qr-image {
          /* border: 2px solid #ccc; */
        }
      }
  
      .document-details-title {
        font-size: 22px;
      }
  
      .verification-icon-container {
        svg {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
  