/* .vc-display-card {
    padding: 20px;
  
    .centered-button {
      display: flex;
      justify-content: center;
      margin-top: 24px;
    }
  
    .VcProperty {
      margin-bottom: 15px;
    }
  
    .VcPropertyKey {
      font-weight: bold;
      color: #333;
    }
  
    .VcPropertyValue {
      color: #555;
    }
  
    .vc-verification-failed-container {
      text-align: center;
      color: #CB4242;
      font-size: 1.2rem;
      margin-top: 20px;
  
      .MuiSvgIcon-root {
        margin-bottom: 8px;
      }
    }
  }
  
  @media (max-width: 600px) {
    .vc-display-card {
      padding: 15px;
    }
  }
   */
   .vc-display-card {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  
    .vc-display {
      .vc-property {
        margin-bottom: 15px;
        
        .vc-property-key {
          color: #555;
        }
  
        .vc-property-value {
          
          font-weight: bold;
          color: #333;
        }
      }
    }
  
    .vc-verification-failed-container {
      text-align: center;
      color: #cb4242;
      font-size: 1.2rem;
      margin-top: 20px;
  
      .MuiSvgIcon-root {
        margin-bottom: 8px;
      }
    }
  
    .button-group {
      margin-top: 20px;
  
      .scan-button {
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
          margin-right: 8px;
        }
      }
    }
  
    @media (max-width: 600px) {
      padding: 10px;
      
      .vc-property {
        margin-bottom: 10px;
        
        .vc-property-key, .vc-property-value {
          font-size: 14px;
        }
      }
  
      .button-group {
        .scan-button {
          font-size: 14px;
          
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  
    @media (min-width: 1200px) {
      padding: 30px;
  
      .vc-display {
        .vc-property {
          margin-bottom: 20px;
  
          .vc-property-key, .vc-property-value {
            font-size: 16px;
          }
        }
      }
  
      .button-group {
        .scan-button {
          font-size: 16px;
          
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  